<!DOCTYPE html>
<html lang ="es">

   <head>
      <meta charset="UTF-8">
      <title>Alta Dispositivos</title>
      <link rel="stylesheet" type="text/css" href="css/StyleAltaDisp.css">
   </head>
   
   <body>
      <div>
      
         <h1>Alta Dispositivos</h1>
         
         <form class="device_form">
            <ul>                             <!--type="email"; type="website"; pattern="(http|https)://.+"; <textarea></textarea>; button"-->
               <li>
                  <label for="name">
                  Nombre Dispositivo:
                  </label>
                  
                  <input type="text" placeholder="Aire Acondicionado" id="NombreDispositivo" required>
               </li>
                           
               <li>
                  <label for="concreteEquipment">
                  Equipo Concreto:
                  </label>
                  
                  <input type="text" placeholder="3500 frigorias" id="EquipoConcreto" required>
                  
                  <span class="form_hint">
                  Ejemplos: "4000 frigorias" o "Tubo fluorescente de 21" o "LCD de 40" o "Halogenas de 100W" o etc.
                  </span>
               </li>
               
               <li>
                  <label for="tipo">
                  Tipo de Dispositivo:
                  </label>
                  
				  <select name="I_E">
				    <option value="I">I</option>
				    <option value="E">E</option>
				  </select>
               </li>
               
               <li>
                  <label for="lowConsumption">
                  Bajo Consumo:
                  </label>
                  
				  <select name="si_no">
				    <option value="No">NO</option>
				    <option value="Si" selected>SI</option>
				  </select>
               </li>
               
               <li>
                  <label for="KWh">
                  Consumo en KWh:
                  </label>
                  
                  <input type="number" placeholder="1.613" id="ConsumoKWh" required pattern="[0-9]{*}.[0-9]{*}" title="Debe ser un número decimal">
               </li>
               
               <li>
                  <label for="monthlyUseMin">
                  Uso Mensual Mínimo:
                  </label>
                  
                  <input type="number"  id="UsoMensualMin" required  min="1" max="200">
               </li>
               
               <li>
                  <label for="monthlyUseMax">
                  Uso Mensual Máximo:
                  </label>
                  
                  <input type="number"  id="UsoMensualMax" required  min="1" max="900">
               </li>
               
               <li>
               <button class="submit" type="submit">GUARDAR</button>
               </li>                                 
            </ul>
         </form>
      </div>
   </body>
</html>




