<!DOCTYPE html>

<html lang ="es">

<head>

<meta charset="UTF-8">


<title>Alta Dispositivos</title>

<body>


<div style="color: blue;">
<h1>Alta Dispositivos</h1>
</div>


<form>

Equipo Concreto:

<input type="text" id="EquipoConcreto" />

Nombre Dispositivo:

<input type="text" id="NombreDispositivo" />

Tipo de Dispositivo:

<input type="text" id="TipoDeDispositivo" />

Bajo Consumo:

<input type="text" id="BajoConsumo" />

Consumo en KWh:

<input type="text" id="ConsumoKWh" />

Uso Mensual Mínimo:

<input type="text" id="UsoMensualMin" />

Uso Mensual Máximo:

<input type="text" id="UsoMensualMax" />


<input type = "submit" value="GUARDAR"/>


</form>


</body>


</head>





</html>














