<!DOCTYPE html>
<html>
<head>
<link href="css/loginstyle.css" rel="stylesheet" type="text/css" >  

<meta charset="UTF-8">
<title>Ejecucion Simplex</title>
</head>
<body>

<h1 style="color:white;">Usuario: {{usuario}}</h1>

<h2 style="color:white;">El valor Optimo en horas que el usuario deberia consumir es: {{ consumoOptimo }}</h2>

<ul>
{{#each dispositivos}}
	<li>
		<p style="color:white;"> Las horas de uso de: {{ nombreDispositivo}} , deberían ser: {{ horasRecomendadas}} </p>
	</li>	
{{/each}}
</ul>


</body>
</html>