<!DOCTYPE html>
<html>
<head>
<link href="css/loginstyle.css" rel="stylesheet" type="text/css" >  

<meta charset="UTF-8">
<title>SGE PLATFORM: HOME</title>
</head>

<body>
	<form>
		<div align="center">
		
		<hr/>
		<h1 style="color:white;"> Bienvenido a SGE</h1>
		<h1 style="color:white;"> Sistema de Gestión de energía</h1>
		<hr/>
		
		<h2 style="color:white;"> Usuario Administrador: {{usuario}}</h2>
		
		<a href="/ListarHogaresyConsumo"> <input type="button" value="Listar hogares y consumo" autofocus> </a>

		<br><br/>
		
		<a href="/CrearDispositivo"> <input type="button" value="Crear dispositivo" autofocus> </a>
		
		<br><br/>
		
		<a href="/GenerarReportes"> <input type="button" value="Generar reportes" autofocus> </a>

		<br><br/>
		
		<br><br/>
		</div>
	</form>
	
 </body>

</html>