<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SGE PLATFORM: HOME</title>
</head>

<body>
	<form>
		<div align="center">
		
		<hr/>
		<h1> Bienvenido a SGE</h1>
		<h1> Sistema de Gestión de energía</h1>
		<hr/>
		
		<h2>Usuario: {{usuario}}</h2>
		
		<a href="/seleccionUsuario/EjecutarSimplex"> <input type="button" value="Ejecutar Simplex" autofocus> </a>

		<br><br/>
		
		<a href="/ConsumoPorPeriodo"> <input type="button" value="Consumo por período" autofocus> </a>
		
		<br><br/>
		
		<a href="/seleccionUsuario/EstadoPorDispositivo"> <input type="button" value="Estado por dispositivo" autofocus> </a>

		<br><br/>

        <a href="/seleccionUsuario/ReglasActivas"> <input type="button" value="Reglas Activas" autofocus> </a>

		<br><br/>

        <a href="/seleccionUsuario/AltaDispositivo"> <input type="button" value="Alta Dispositivo" autofocus> </a>
		
		<br><br/>
		</div>
	</form>
	
 </body>

</html>