<!DOCTYPE html>
<html>
<head>
<link href="css/loginstyle.css" rel="stylesheet" type="text/css" >  

<meta charset="UTF-8">
<title>Ejecucion Simplex</title>
</head>
<body>

<h1 style="color:white;">Usuario: {{usuario}}</h1>

<h2 style="color:white;">Los dispositivos del hogar son: </h2>

<table style="color:white;">

  <tr>
    
    <th>Nombre del dispositivo</th>

	<th>Equipo concreto</th>

    <th>Tipo del dispositivo</th>
    
    <th>Bajo Consumo</th>
    
    <th>Consumo mes pasado</th>  
   
        
  </tr>
  
  {{#each dispositivos}}
	<tr>

	    <td> {{ nombreDispositivo }}</td>
	    
	    <td> {{ equipoConcreto }}</td>
	
	    <td> {{ tipoDispositivo }}</td>
	    
	    <td> {{ bajoConsumo }} </td>
	    
		<div id="BotonConsultar" >
	    <th><input name="BotonConsultar" type="submit"/> </th>
	    </div>
	    
	    <script>
	    $(document).ready(function(){ 
	    	$('#BotonConsultar').click(function() { 

	    	var id = {{id}}; 

	    	$.ajax({ 
	    	type: "GET", 
	    	url: '/MostrarConsumoMesPasado?id='+id, 
	    	success: function(data) { 
	    	$('#resultados').html(data); 
	    	$('#resultados div').slideDown(1000); 
	    	} 
	    	}); 
	    	}); 
	    </script>
	    
  </tr>
  {{/each}}
 </table>
</body>
</html>